importFrom("Matrix", spMatrix, diff, t, solve)
importFrom("MassSpecWavelet",getLocalMaximumCWT, getRidge, identifyMajorPeaks)
importFrom("GA",ga)

export( 
		"areayf",
		"airPLS",
		"baseline_remove",
		"cwt",
		"extendLength",
        "extendNBase",
		"fiterror",
		"fitness",
		"trapezoidal.integration",
		"peakdetection",
		"peakdetectionresidual",
		"peakheights",
		"peakrange",
		"plotwidthEstimation",
		"positionwidth",
		"RWPD",
		"startend",
		"WhittakerSmooth",
		"widthEstimationCWT"
        ) 
