NAMESPACE 
importFrom("MassSpecWavelet","GA","Matrix") 
 
export( 
        "cwt", 
        "airPLS", 
        "fitness", 
        "peakdetection", 
        "widthEstimationCWT", 
        "RWPD", 
		"WhittakerSmooth" 
        ) 
