importFrom("Matrix", spMatrix, diff, t, solve)
importFrom("MassSpecWavelet", getLocalMaximumCWT, getRidge, identifyMajorPeaks,localMaximum)
importFrom("GA",ga)

export( 
		"peakarea",
		"airPLS",
		"polynomialfitting",
		"cwt",
		"extendLength",
        "extendNBase",
		"fiterror",
		"fitness",
		"fitshape",
		"integration",
		"peakdetection",
		"peakdetectionresidual",
		"peakheights",
		"boundary",
		"peakshape",
		"plotwidthEstimation",
		"positionwidth",
		"RWPD",
		"startend",
		"WhittakerSmooth",
		"widthEstimationCWT"
        ) 
